body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    font-size: 90%;
    position: relative;
}
/* Navbar left menu */
.left-menu ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 80%;
}
.left-menu ul li a:hover{
    color: rgb(175, 175, 175);
}
.left-menu > ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 10px;
    display: flex;
}
/* Search-form */
.search-form{
    width: 300px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 8px;
    background-color: rgb(58, 58, 58);
    transition: 0.4s ease-in-out;
    outline: none;
}
.search-form:focus{
    background-color: rgb(255, 255, 255);
    width: 450px;
}
/* Navbar right menu */
.right-menu > ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    padding-top: 20px;
}
.left-menu > ul > li, .right-menu > ul > li{
    padding-right: 15px;
    align-self: center;
}
/* Dropdown menu */
.dropdown-1, .drodown-2{
    position: relative;
}
.dropdown-content-1, .dropdown-content-2{
    left: auto;
    right: 0;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 5px;
    padding: 10px 10px;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    list-style: none;
    width: 150px;
}
.dropdown-content-2{
    margin-right: 19px;
}
.dropdown-content-1{
    margin-right: 5px;
}
.drop-button-1, .drop-button-2{
    border: none;
    outline: none;
    cursor: pointer;
}
.dropdown-show{
    display: block;
}
.dropdown-content-1 > li > a, .dropdown-content-2 > li > a{
    text-decoration: none;
    line-height: 150%;
    color: rgb(29, 29, 29);
}
.dropdown-content-1 li a:hover, .dropdown-content-2 li a:hover{
    background: rgb(0, 162, 255);
}
/* Icon changing */
.logo{
    width: 130%;
    height: 130%;
}
.bell:hover, .plus:hover, .user:hover{
    filter: invert(0.2);
}
.bell, .plus, .user{
    width: 80%;
    height: 80%;
}
/* Content */
section{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 100%;
    display: flex;
}
/* Sidebar */
.sidebar{
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: sticky;
    display: flex;
    justify-content: center;
    flex: 0.26;
    border-right: 1px solid rgb(219, 219, 219);
}
.sidebar-content{
    padding-top: 30px;
    flex: 0.9;
    justify-content: baseline; 
}
.new-repository{
    display: flex;
    justify-content: space-between;
    font-size: 85%;
    padding-bottom: 10px;
}
.new-repository > p{
    margin-top: 4px;
    margin-bottom: 4px;
}
/* Repository button */
.new-repository > a{
    text-decoration: none;
}
.new-repository > a > button{
    background: linear-gradient(to top, rgb(0, 161, 0), rgb(0, 202, 0));
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(37, 194, 37);
    display: flex;
    align-items: center;
}
.new-repository > a > button > img{
    width: 32%;
    height: 32%;
    margin-left: 2px;
}
.new-repository > a > button > p{
    color: rgb(255, 255, 255);
    margin-top: 4px;
    margin-bottom: 4px;
}
.new-repository a button:hover{
    border: 1px solid rgb(21, 109, 21);
    cursor: pointer;
}
/* Repository search */
.sidebar-content > input{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid rgb(209, 213, 218);
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    outline: none;
}
.sidebar-content > input::placeholder{
    padding-left: 8px;
}
.sidebar-content > input:focus{
    border: 1px solid rgb(0, 84, 163);
    box-shadow: 0px 0px 0px 3px rgba(77, 169, 255, 0.418);
}
.sidebar-content > input::placeholder{
    color: rgb(172, 172, 172);
}
/* Repository history */
.sidebar-content ul{
    list-style-type: none;
    padding-left: 0;
}
.sidebar-content ul li div{
    display: flex;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sidebar-content ul li div > a{
    font-size: 80%;
    font-weight: bold;
    text-decoration: none;
    color: rgb(11, 137, 255);
}
.sidebar-content ul li div a:hover{
    text-decoration: underline;
}
.sidebar-content ul li div > img{
    width: 6%;
    height: 6%;
}