body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    font-size: 90%;
    position: relative;
}
/* Navbar left menu */
.left-menu ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 80%;
}
.left-menu ul li a:hover{
    color: rgb(175, 175, 175);
}
.left-menu > ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 10px;
    display: flex;
}
/* Search-form */
.search-form{
    width: 300px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 8px;
    background-color: rgb(58, 58, 58);
    transition: 0.4s ease-in-out;
    outline: none;
}
.search-form:focus{
    width: 450px;
}
/* Navbar right menu */
.right-menu > ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    padding-top: 20px;
}
.left-menu > ul > li, .right-menu > ul > li{
    padding-right: 15px;
    align-self: center;
}
/* Dropdown menu */
.dropdown-1, .drodown-2{
    position: relative;
}
.dropdown-content-1, .dropdown-content-2{
    left: auto;
    right: 0;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 5px;
    padding: 10px 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    list-style: none;
    width: 150px;
}
.dropdown-content-2{
    margin-right: 19px;
}
.dropdown-content-1{
    margin-right: 5px;
}
.drop-button-1, .drop-button-2{
    border: none;
    outline: none;
    cursor: pointer;
}
.dropdown-show{
    display: block;
}
.dropdown-content-1 > li > a, .dropdown-content-2 > li > a{
    text-decoration: none;
    line-height: 150%;
    color: rgb(29, 29, 29);
}
.dropdown-content-1 li a:hover, .dropdown-content-2 li a:hover{
    background: rgb(0, 162, 255);
}
/* Icon changing */
.logo{
    width: 130%;
    height: 130%;
}
.bell:hover, .plus:hover, .user:hover{
    filter: invert(0.2);
}
.bell, .plus, .user{
    width: 80%;
    height: 80%;
}